#if ($params["builderPackage"] == "")
package $clazz.package.name;
#else
#if ($params["builderPackage"].startsWith("."))
package ${clazz.package.name}${params["builderPackage"]};
#else
package ${params["builderPackage"]};
#end
#end

#set( $builderClassName = ${params["builderClassPrefix"]} + ${clazz.name} + ${params["builderClassSuffix"]} )
/**
	Builder for class {@link $clazz.fullyQualifiedName}<br/>
	Automatically created with GenGen, using GenGenBeanBuilder<br>
	You can use it with a new instance, like <br/>
	<code>
	${clazz.name} ${stringUtils.uncapitalize($clazz.name)} = new ${builderClassName}()......build();
	</code>
	<br/>
	or with the static method <code>start</code>, like <br/>
	<code>
	${clazz.name} ${stringUtils.uncapitalize($clazz.name)} = ${builderClassName}.start().....build();
	</code>
	
*/
/*
	Used parameters:
#foreach( $paramName in $params.keySet() )
		$paramName : $params.get($paramName).toString()
#end
	
*/
public class $builderClassName{
#foreach( $beanProperty in $clazz.getBeanProperties(true) )
#if($beanProperty.mutator)
	private $beanProperty.type.fullyQualifiedName $beanProperty.name;
#end
#end

	public static $builderClassName start(){
		return new $builderClassName();
	}
	
#foreach( $beanProperty in $clazz.getBeanProperties(true) )
#if($beanProperty.mutator)
	public $builderClassName #builderSetter(${beanProperty.name})($beanProperty.type.fullyQualifiedName $beanProperty.name){
		this.$beanProperty.name = $beanProperty.name;
		return this;
	}
#end
#end	

	public $clazz.fullyQualifiedName build(){
		$clazz.fullyQualifiedName ${stringUtils.uncapitalize($clazz.name)} = new ${clazz.fullyQualifiedName}();
#foreach( $beanProperty in $clazz.getBeanProperties(true) )
#if($beanProperty.mutator)
		${stringUtils.uncapitalize($clazz.name)}.${beanProperty.mutator.name}(this.${beanProperty.name});
#end
#end
		return ${stringUtils.uncapitalize($clazz.name)};

	}
}

#macro( builderSetter $fieldName )
#if($params["builderSetterPrefix"] == "")${fieldName}#else${params["builderSetterPrefix"]}${stringUtils.capitalize($fieldName)}#end
#end

